/*common rules*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7fffd4;
}

.container{
    width: 80%;
    margin: 0 auto;
}
/*header*/
header{
   background-color: #fff; 
}
/*navbar*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}
/*navbar sx*/
.navbar.sx img{
    margin-right: 20px;
}
/*navbar dx*/
.navbar.dx select{
    margin: 0 5px;
    padding: 0 30px;
}
.navbar.dx button{
    padding: 0 30px;
}

/*main*/
#grid {
    height: 600px;
    width: 600px;
    margin: 100px auto;
    border: solid 1px #000;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: solid 1px #000;
    width: calc(100% / 10);
    height: calc(100% / 10); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*classe che si attiva con il click sugli square*/
.clicked {
    background-color: #6495ed;
}

/*Footer*/
footer{
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    
}